# Substitua por suas credenciais, de acordo com o serviço escolhido. 

GMAIL_CLIENT_ID=seu_id_aqui
GMAIL_CLIENT_SECRET=sua_chave_de_cliente_aqui
GMAIL_REFRESH_TOKEN=seu_token_gerado
EMAIL_DESTINO=seuemail.destino@gmail.com