# Substituas por suas credenciais, de acordo com o serviço escolhido, nesse caso foi o BREVO.

MAIL_HOST = smtp-relay.brevo.com
MAIL_PORT = 587
MAIL_USERNAME = seu-email-cadastrado-no-brevo@gmail.com
MAIL_PASSWORD = a-chave-smtp-real-que-o-brevo-gerou
EMAIL_DESTINO = email-do-projeto@gmail.com